
.swipe-container{
  display: grid;
}

.item-cards-container
{
    display: flex;
    justify-content: center;
    margin-top: 5vh;


}

.swipe{
  position: absolute;
}

.item-card{
  height: 50vh;
  text-align: center;
  border: 2px dashed #fd6f6f;
  background-color: #3b7c9e;
  position: relative;
  width: 600px;
  padding: 20px;
  padding-bottom: 0px;
  max-width: 85vw;
  border-radius: 20px;
  /* box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3); */
}

.items-text{
  color: #dcdcdc;
  font-size: xx-large;
}

.swipe-buttons{
  position: relative;
  margin-top: 55vh;
  margin-bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipe-button {

  border-radius: 20px;
}